# Server Configuration
HOST_PORT=8000


TOR_PROXY=socks5://tor:9050

SECRET_KEY=generate_a_random_secret_here

MASTER_BTC_ZPUB=zpub_your_public_master_key_here

PROJECT_BTC_ADDRESS=bc1q_your_public_address_here

PREVIEWER_URL=http://previewer:8001
